/* Global Rules */

body {
  overflow-x: hidden;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  padding: 0;
  background-color: transparent;
  min-width: 100%;
}

.view-row {
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  margin: 0;
}

/* Splash Rules */

.my-photo {
  width: 60vw;
  height: 60vw;
  margin: 10vh 20vw;
  overflow: hidden;
}

.my-photo > img {
  width: 100vw;
  height: auto;
  position: relative;
  animation: photoBob 8s;
  left: -17.5vw;
  top: -45vw;
}

@keyframes photoBob {
  0% {
    transform: scale3d(0.45, 0.45, 1) translate3d(-20vw, 40vw, 0);
  }
  40% {
    transform: scale3d(0.45, 0.45, 1) translate3d(-20vw, 40vw, 0);
    opacity: 1;
  }
  85% {
    transform: scale3d(.8, .8, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .my-photo {
    width: 30vw;
    height: 30vw;
    margin-top: 10vh;
    margin-left: 35%;
    overflow: hidden;
  }
}

.my-photo > img {
  width: 80vw;
  height: auto;
  position: relative;
  animation: photoBob 8s;
  left: -17.5vw;
  top: -53vw;
}

@keyframes photoBob {
  0% {
    transform: scale3d(0.45, 0.45,1) translate3d(-20vw, 40vw, 0);
  }
  40% {
    transform: scale3d(0.45, 0.45, 1) translate3d(-20vw, 40vw, 0);
    opacity: 1;
  }
  85% {
    transform: scale3d(.8, .8, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

.splash-header {
  height: 10vh;
  margin-top: 5vh;
}

.splash-header > h1 {
  font-family: Roboto;
  text-align: center;
  font-weight: normal;
}

.splash-header > hr {
  height: 1.5px;
  background-color: #bbbbbb;
  margin: 2vh 10vw;
}

/* Welcome Rules */

#welcome {
  background-color: #e8e8e8;
}

.carousel-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 9vh 10vw;
}

.carousel-container > div.row {
  margin: 0 10%;
}

.carousel-container > div.row > div.col {
  padding: 0vh 0vw;
  max-height: 80vh;
}

.carousel-container > div.row > div.col > div.content {
  margin: 2vh 0;
}

.carousel > div > div > img {
  height: 100%;
}

.heading-text-carousel {
  font-family: roboto;
  font-style: normal;
  font-size: 2.5rem;
}

.body-text-carousel {
  font-size: .85rem;
  margin: 2vw 1vw;
  font-family: Maven Pro;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  height: 80vh;
}

/* Skills and Experiences Rules */

#skills > div.col {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 5vh 10vw;
  font-family: roboto;
}

.dueling-boxes > h1 {
  font-size: 5vh;
  margin: 1.5vh 0;
}

.dueling-boxes {
  background-color: #f2f2f2;
  padding: 0vh 1vw;
  height: 40vh;
  margin: 1.25vh 0;
  overflow-y: hidden;
}

.dueling-boxes-row {
  height: 40vh;
  margin: 2.5vh 0;
}

.skill {
  margin: 0;
}

.skill-row {
  margin: 1vh 0;
  font-size: 2.6vh;
}

#skills {
  background-color: #ffffff;
}

.experience-row {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2.8vh;
}

.experience-row > div > p {
  text-align: center;
  margin: 0 1vw;
  font-size: 2.5vh;
  background-color: white;
}

.experience-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30vh;
}

/* Portfolio Rules */

.portfolio-scroll {
  margin: auto;
  height: 50vh;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

#portfolio {
  background-color: #f2f2f2;
  padding: 5vh 10vw;
  border-color: transparent;
  font-family: roboto;
}

#portfolio > div > div {
  margin: 5vh 0;
  height: 80vh;
  padding: 5vh 10vw;
  background-color: #ffffff;
}

#portfolio > div > div > h1 {
  font-size: 7vh;
}

.figure-caption {
  font-size: 25px;
}

.card {
  font-size: 0.75rem;
}

/* Contact Footer */

#Contact {
  height: 25vh;
}

#Contact > div.col > div > div.row > div.col > a {
  font-size: 10vh;
  text-align: center;
  color: black;
}

